{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <section id="services">
            <h1>Inscription</h1>

            {{ form_start(form) }}
            {{ form_row(form.surname, { 'label': 'Nom',  'attr': {
                'placeholder': 'Nom','class':'form-control'}}) }}
            {{ form_row(form.firstname , { 'label': 'Prenom', 'attr': {
                'class':'form-control',
                'placeholder': 'Firstname'}}) }}
            {{ form_row(form.adress, { 'label': 'Adresse', 'attr': {
                'class':'form-control',
                'placeholder': 'Adresse'}}) }}
            {{ form_row(form.city, { 'label': 'Ville', 'attr': {
                'class':'form-control',
                'placeholder': 'Ville'}}) }}
            <br/>
            <button type="submit" class="btn btn-primary">Inscription</button>
            {{ form_end(form) }}
        </section>
    </div>


{% endblock %}
