{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <section id="services">
            <h1>Inscription</h1>

            {{ form_start(form) }}
            {{ form_row(form.mail, { 'label': 'Email',  'attr': {
                'placeholder': 'Email','class':'form-control'}}) }}
            {{ form_row(form.password , { 'label': 'Mot de passe', 'attr': {
                'class':'form-control',
                'placeholder': 'Mot de passe'}}) }}
            {{ form_row(form.confirm_password, { 'label': 'Confirmation Mot de passe', 'attr': {
                'class':'form-control',
                'placeholder': 'Confirmation Mot de passe'}}) }}
            <br/>
            <button type="submit"class="btn btn-primary">Inscription</button>
            {{ form_end(form) }}
        </section>
    </div>


{% endblock %}
