{% extends 'base.html.twig' %}

{% block title %}Car details{% endblock %}

{% block body %}
    <section>
        <div class="wrapper">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Voitures</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Modele</th>
                                <th>Date d'achat</th>
                                <th>Disponible</th>
                                <th>Moniteur</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for car in numbers.Cars %}
                                <tr>
                                    <td>{{ car.name }} {{  car.firstName }} </td>
                                    <td>{{ car.purchaseAt|date('d-m-Y') }}</td>
                                    <td>{{ car.isAvailable }}</td>
                                    <td>{#{{ car.address }} {{ instructor.city }}#}</td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}
