{% extends 'base.html.twig' %}

{% block title %}Car details{% endblock %}

{% block body %}
    <section>
        <div class="wrapper">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Voitures</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Immatriculation</th>
                                <th>Modele</th>
                                <th>Date d'achat</th>
                                <th>Disponible</th>
                                <th>Moniteur</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for car in numbers.Cars %}
                                <tr>
                                    <td>{{ car.immatriculation }} </td>
                                    <td>{{ car.brand }} {{  car.model }} </td>
                                    <td>{{ car.purchasedAt|date('d-m-Y') }}</td>
                                    <td>{% if(car.isAvailable) %} <div class="alert-info alert">Disponible</div>{% else %} <div class="alert-danger alert">Indisponible</div>{% endif %}</td>
                                    <td> {{ car.instructor }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}
