{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<section>
    <div class="container">
        <table cellpadding="12">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Candidate</th>
                    <th class="mr-4" scope="col">Date</th>
                    <th class="mr-4" scope="col">Starting Hour</th>
                    <th class="mr-4" scope="col">Ending Hour</th>
                    <th class="mr-4" scope="col">Answer</th>
                </tr>

            </thead>
            <tbody>
                {% for planning in plannings %}
                    <tr>
                        <td class="mr-4">{{ planning.idc.name}}  {{ planning.idc.firstName }}</td>
                        <td class="mr-4">{{ planning.idl.startAt|date('d-m-Y')}} </td>
                        <td class="mr-4">{{ planning.idl.startAt|date('H:i')}} </td>
                        <td class="mr-4">{{ planning.idl.endAt|date('H:i')}} </td>
                        <td class="mr-4">
                            {#{% if planning.idl.status == 'W'%}#}
                                <div class="jsForm">
                                    <input type="radio" class="jsLessonStatus" name="p{{  planning.idl.id }}" value="A" {% if planning.idl.status == 'A' %} checked="checked" {% endif %} data-lesson="{{ planning.idl.id }}" />Accept
                                    <input type="radio" class="jsLessonStatus" name="p{{  planning.idl.id }}" value="D"{% if planning.idl.status == 'D' %} checked="checked" {% endif %} data-lesson="{{ planning.idl.id }}" />Denied
                                    <input type="radio" class="jsLessonStatus" name="p{{  planning.idl.id }}" value="W"{% if planning.idl.status == 'W' %} checked="checked" {% endif %} data-lesson="{{ planning.idl.id }}" />Pending
                                </div>
                            {#{% elseif planning.idl.status == 'A' %}#}
                                {#<div>Accepted</div>#}
                            {#{% else %}#}
                                {#<div>Denied</div>#}
                            {#{% endif %}#}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</section>
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script>
        $( document ).ready(function() {
            $(".jsLessonStatus").click(function () {
                $.ajax({
                    url: Routing.generate('update_status', {id: $(this).data('lesson'), status: $(this).val()}),
                    success: function(result){
                        console.log(result);
                       if (result === 'ok') {
                           // $('.jsForm').remove();
                       }
                    }
                    //$( "#result" ).load( "verify.asp" );
                });

            });
        });
    </script>

{% endblock %}