{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
        <section>
            <div class="d-flex flex-row align-items-center justify-content-between">
                <h1>{{ month_string }}</h1>
                <div>
                    {% set previousMonth= id-1 %}
                    {% set nextMonth= id+1%}
                    {% if(previousMonth<1) %}
                        <a href="{{ path('planningByM',{'id':12,'idy':idy-1} ) }}" class="btn btn-primary">&lt;</a>
                        <a href="{{ path('planningByM',{'id':id+1,'idy':idy}) }}" class="btn btn-primary">&gt;</a>
                    {% elseif(nextMonth>12) %}
                        <a href="{{ path('planningByM',{'id':id-1,'idy':idy}) }}" class="btn btn-primary">&lt;</a>
                        <a href="{{ path('planningByM',{'id':1,'idy':idy+1} ) }}" class="btn btn-primary">&gt;</a>
                    {% else %}
                        <a href="{{ path('planningByM',{'id':id-1,'idy':idy} ) }}" class="btn btn-primary">&lt;</a>
                        <a href="{{ path('planningByM',{'id':id+1,'idy':idy}) }}" class="btn btn-primary">&gt;</a>
                    {% endif %}

                </div>
            </div>


            <table class="calendar__table calendar__table--{{ weeks }}weeks">
                {% for i in 0..weeks-1 %}
                    <tr>
                        {% set k=0 %}
                        {% for k, day in daysInMonth %}
                            {% set d=start %}
                            {% set e=k+i*7 %}
                            {% set dateD=d|date_modify("+"~e~" days")|date('d') %}
                            {% set dateY=d|date_modify("+"~e~" days")|date('Y') %}
                            {% set date=d|date_modify("+"~e~" days")|date('Y-m-d') %}
                            {% set month=d|date_modify("+"~e~" days")|date('m') %}
                            {#{% days.d|date_modify("+"~e~" days")|date('Y-m-d') ? dump(days.d|date_modify("+"~e~" days")|date('Y-m-d')) : '' %}#}
                            <td class="{% if month != id %} otherMonth {% endif %}{% if isToday == date %} isToday {% endif %}">
                                {% if i==0 %}
                                    <div class="calendar__weekday">{{ day }}</div>
                                {% endif %}
                               <a class="calendar__day" href="{{ path('newLesson',{'date':date}) }}">{{ dateD }}</a>

                                {% if days[date] is defined %}
                                    {% set eventByDay = days[date] %}
                                    {% for event in eventByDay %}
                                        {% if app.user.isInstructor %}
                                            <div class="calendar__event">{{ event.idl.startAt|date('H:i') }} -<a href="{{ path('editLesson',{'id':event.idl.id}) }} " > {{ event.idc.name}} {{ event.idc.firstName}} {% set hours = event.idl.startAt.diff(event.idl.endAt) %} {{ hours|date('h') }} Hours</a></div>
                                        {% else %}
                                            <div class="calendar__event">{{ event.idl.startAt|date('H:i') }} -<a href="{{ path('editLesson',{'id':event.idl.id}) }} " > {{ event.idl.status}} Request</a></div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>

            <a href="{{ path('addRequest') }}" class="calendar__button">+</a>
        </section>
    </div>

{% endblock %}
