<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/agency.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/sb-admin.min.css') }}">
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
            <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
            <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
        {% endblock %}
    </head>
    <body >
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">La Castellane</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('home') }}">Accueil</a>
                    </li>

                    {% if not app.user %}
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{{ path('package') }}">Formation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{{ path('registration_candidate') }}">Inscription</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/login">Connexion</a>
                        </li>
                    {% elseif (is_granted("ROLE_ADMIN"))  %}
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{{ path('admin_request') }}"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{{ path('admin') }}">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{{ path('admin_request') }}">Les demandes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/logout">Se deconnecter</a>
                        </li>
                    {% elseif (is_granted("ROLE_INSTRUCTOR"))  %}
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{{ path('instructor_request') }}">Request</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{{ path('user_account') }}">Mon compte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{{ path('planning') }}">Planning</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/logout">Se deconnecter</a>
                        </li>
                    {% elseif (is_granted("ROLE_CANDIDATE"))  %}
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{{ path('package') }}">Formation</a>
                        </li>
                        <div class="dropdown">
                            <button class="dropbtn">Mon compte
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content">
                                <a href="{{ path('user_account') }}">Mes infos</a>
                                <a href="{{ path('candidate_history') }}">Historique d'achats</a>
                            </div>
                        </div>
                        {% if(app.user.status == 'driving') %}
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="{{ path('planning') }}">Planning</a>
                            </li>
                        {% elseif app.user.status == 'code' %}
                            <div class="dropdown">
                                <button class="dropbtn">Code
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="dropdown-content">
                                    <a href="{{ path('code') }}">Test</a>
                                    <a href="{{ path('candidate_code_history') }}">Historique</a>
                                </div>
                            </div>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/logout">Se deconnecter</a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>


        <div>
            {% block body %}{% endblock %}
        </div>

    <footer>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; </span>
                </div>

                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item">
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    </body>

    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
    {% endblock %}

</html>
