{% extends 'base.html.twig' %}

{% block title %}My Account{% endblock %}

{% block body %}
<section>
    <div class="container">
        <div class="row ml-5">


            <div class="col-md-7">

                <div class="panel panel-default">
                    <div class="panel-heading text-center">  <h4 > Mon profil</h4></div>
                    <div class="panel-body">

                        <div class="box box-info">

                            <div class="box-body">
                                <div class="col-sm-12 ">
                                    <div  align="center"> <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive ">

                                    </div>

                                    <br>

                                    <!-- /input-group -->
                                </div>
                                <div class="col-sm-12 text-center">
                                    <h4 style="color:#054491;">{{ user.username }} </h4></span>
                                    {% if app.user.isinstructor %}
                                        <span><p>Instructor</p></span>
                                    {% elseif app.user.isadmin %}
                                        <span><p>Admin</p></span>
                                    {% else %}
                                        <span><p>{{ user.status }}</p></span>
                                    {% endif %}
                                </div>
                                <div class="clearfix"></div>
                                <hr style="margin:5px 0 5px 0;">


                                <div class="col-sm-5 col-xs-6 tital " >Nom:</div><div class="col-sm-7 col-xs-6 ">{{ user.name }}</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>

                                <div class="col-sm-5 col-xs-6 tital " >Prenom:</div><div class="col-sm-7"> {{ user.firstName }}</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>

                                <div class="col-sm-5 col-xs-6 tital " >Last Name:</div><div class="col-sm-7"> Huddedar</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>

                                <div class="col-sm-5 col-xs-6 tital " >Date d'inscription:</div><div class="col-sm-7">{{ user.registerAt |date('d-m-Y')}}</div>

                                <div class="clearfix"></div>
                                <div class="bot-border"></div>

                                <div class="col-sm-5 col-xs-6 tital " >Date de naissance:</div><div class="col-sm-7">{{ user.birth|date('Y-m-d') }}</div>

                                <div class="clearfix"></div>
                                <div class="bot-border"></div>

                                <div class="col-sm-5 col-xs-6 tital " >Adresse:</div><div class="col-sm-7">{{ user.address }}</div>

                                <div class="clearfix"></div>
                                <div class="bot-border"></div>

                                <div class="col-sm-5 col-xs-6 tital " >Ville:</div><div class="col-sm-7">{{ user.city }}</div>
                                {% if app.user.isinstructor == false and app.user.isadmin == false and app.user.status == 'driving'%}
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital " >Hours Done:</div><div class="col-sm-7">{{ app.user.hoursdone }}</div>
                                {% endif %}
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->

                        </div>


                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

{% endblock %}
